# Sasidhar

# Make sure to use Python 3.11.x Version

--extra-index-url https://download.pytorch.org/whl/cu118  # Comment this out if you are using torch-cpu

# Load .env
python-dotenv

# LLM for Interview Question Generation and Candidate answer analylsis
ollama
google-generativeai

# PyTorch
torch
torchvision
torchaudio

# Speech-to-Text
openai-whisper # it requires the command-line tool "ffmpeg" to be installed on your system

# Audio Capture and Saving
pyaudio

# Python Server (API)
fastapi[standard]
python-multipart

# MySQL Connector
mysql-connector-python


